@font-face {
    font-family: "Poppins";
    src: url("Poppins-Regular.ttf");
}
.root {
    -fx-font: 12pt "Poppins";
}
#Layout {
    -fx-grid-lines-visible: false;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-background-color:#121212FF;
}

#Buttons {
    -fx-pref-columns: 6;
    -fx-pref-tile-width: 75;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.button {
    -fx-font: bold 12pt "Poppins";
    -fx-background-color:#2B2B2CFF;
    -fx-text-fill: white;
}
#title {
    -fx-font: bold 20pt "Poppins";
    -fx-text-fill: white;
}
.label {
    -fx-font: bold 12pt "Poppins";
    -fx-text-fill: white;
}
#message {
    -fx-background-color: #3f3f3f;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}
#reply {
    -fx-background-color: #3f3f3f;
}